# SPDX-FileCopyrightText: 2025 nop
# SPDX-License-Identifier: MIT

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ros_distro: [humble, jazzy]
    container: ros:${{ matrix.ros_distro }}

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        shell: bash
        run: |
          source /opt/ros/${{ matrix.ros_distro }}/setup.bash
          mkdir -p ~/ros2_ws/src
          cp -r . ~/ros2_ws/src/mypkg
          cd ~/ros2_ws
          colcon build
          source install/setup.bash
          ./src/mypkg/test/test_b64.sh ~
